<h4><%= cookies[:username] == (nil) ? nil : ("Welcome back, " + cookies[:username] + "!")%></h4>

<% if cookies[:username] != (nil) %>
<a href="/user/logout">Log Out</a> 
<% else %>
<a href="/user/signup">Sign Up</a>
<a href="/user/login">Log In</a>
<% end %>
<hr>
<br><br>

<p><strong>Question: <%=@question.question%></strong></p>
<% if @question.description != "" || nil %> 
    <p><em>Description: <%=@question.description%></em></p> 
<% end %>
<p>Submitted by: <%=User.find_by(id: @question.user_id).username%></p>

<br><br>
<% if Answer.find_by(question_id: @question.id) == nil %>
    <p>No answers submitted yet :( Be the first to submit!</p>
<% else %>
    <p><strong>Answers: </strong></p>
    <% Answer.where(question_id: @question.id).each_with_index do |answer, index| %>
        <p>#<%= index %> : <%= answer.answer %> </p>
        <a href="/questions/<%=@question.id%>/answer/<%=answer.id%>">Vote for this answer</a>
    <% end %>
<% end %>
    



<% if cookies[:username] != nil && User.find_by(username: cookies[:username]).id == @question.user_id %>
    <a href="/questions/<%= @question.id %>/edit"><button>Edit Question</button></a>
    <form action="/questions/<%= @question.id %>" method="POST">
    <button name="_method" type="hidden" value="delete">Delete Question</button>
    </form>
<% end %>
<br><br>
<a href="/questions/<%=@question.id%>/answer/new"><button>Add a response!</button></a>
<hr>


<a href="/questions/all">View all questions</a>
